<%= form_with(model: review, local: true, class: 'form') do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :industry %>
    <%= form.text_field :industry, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Share', class: 'btn-large' %>
  </div>
<% end %>
