<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'MSugroo', reverse: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-grid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <% if current_page?('/dashboard') || current_page?('/dashboard/') %>
      <!-- Custom fonts for this template-->
      <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <!-- Custom styles for this template-->
      <link href="css/sb-admin-2.min.css" rel="stylesheet">
      <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <% if current_page?('/dashboard') || current_page?('/edit') || current_page?('/new') %>
    <body id="page-top">

      <div id="wrapper">
        <%= yield %>
      </div>

      <!-- Bootstrap core JavaScript-->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Core plugin JavaScript-->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

      <!-- Custom scripts for all pages-->
      <script src="js/sb-admin-2.min.js"></script>

      <!-- Page level plugins -->
      <script src="vendor/chart.js/Chart.min.js"></script>

      <!-- Page level custom scripts -->
      <script src="./js/demo/chart-area-demo.js"></script>
      <script src="./js/demo/chart-pie-demo.js"></script>
    </body>
    <% else %>
    <body class="mainsite">

      <% if user_signed_in? %>
        <%= render 'addons/adminnav' %>
      <% end %>

      <%= render 'addons/navbar' %>
      <%= yield %>
      <%= render 'addons/footer' %>
    </body>

    <% end %>


    <%= javascript_pack_tag 'application' %>

    
</html>
